@using Microsoft.AspNetCore.Identity
@using BankingProject.core.Entities

@if (User.Identity.IsAuthenticated)
{
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="@Url.Action("Index", "Home")" class="brand-link">
            <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">BankingProject</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <partial name="_LoginPartial" />
            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Buscar en el Menu" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-fw fa-book-open"></i>
                            <p>
                                Consultas
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @* Aqui van las opciones de las vistas *@
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Index">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Mis Cuentas</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-fw fa-exchange-alt"></i>
                            <p>
                                Transferencias
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @* Aqui van las opciones de las vistas *@
                           <li class="nav-item">
                                    <a class="nav-link" asp-page="/Transferencias/Transferencia">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>A terceros</p>
                                    </a>
                                </li>
                                 @*<li class="nav-item">
                                    <a href="@Url.Action("Create", "Loans")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nuevo Prestamo</p>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-fw fas fa-cog"></i>
                            <p>
                                Seguridad
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @* Aqui van las opciones de las vistas *@
                            @*<li class="nav-item">
                                    <a href="@Url.Action("Index", "Roles")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Roles</p>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
        <div class="sidebar-custom">
            <form method="post" asp-page-handler="LogOut">
                <button class="btn btn-secondary hide-on-collapse pos-right" id="logoutButton" type="submit">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
                </button>
            </form>
        </div>
    </aside>
}