@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-center font-bold">Mis Cuentas</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@foreach (var item in Model.Cuentas)
{
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h4>Balance: @item.Balace</h4>

                            <p>Cuenta No. @item.NumeroCuenta</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-money-bill-alt"></i>
                        </div>
                        <a href="Historico/Historico?noCuenta=@item.NumeroCuenta" class="small-box-footer">
                            Historico Transferencias <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
               
            </div>
        </div>
    </section>
}